{:paths ["src"]
 :deps {com.cnuernber/charred {:mvn/version "1.038"}}
 :aliases
 {:nrepl
  {:extra-deps {nrepl/nrepl {:mvn/version "1.3.1"}}
   :main-opts ["-m" "nrepl.cmdline" "--port" "7888"]}

  :test
  {:extra-paths ["test"]}

  :dataset
  {:extra-deps {techascent/tech.ml.dataset {:mvn/version "7.032"}}}

  :kindly
  {:extra-deps {org.scicloj/kindly {:mvn/version "4-beta23"}
                techascent/tech.ml.dataset {:mvn/version "7.032"}}}

  :clay
  {:extra-paths ["examples"]
   :extra-deps {org.scicloj/clay {:mvn/version "2-beta56"}
                scicloj/tablecloth {:mvn/version "7.062"}
                org.scicloj/tableplot {:mvn/version "1-beta14"}
                techascent/tech.ml.dataset {:mvn/version "7.032"}}}

  :parquet
  {:extra-deps {com.techascent/tmd-parquet {:mvn/version "1.000-beta-39"}
                techascent/tech.ml.dataset {:mvn/version "7.032"}}}

  :build
  {:deps {io.github.clojure/tools.build {:mvn/version "0.10.12"}
          slipset/deps-deploy {:mvn/version "0.2.2"}}
   :ns-default build}}}
